{% extends "basic.html" %}
{% load static %}

{% block title %}
    {{topic.title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_topic.css'%}">
<div class="container">

    <h2><a href="/topic/{{topic.id}}/">{{topic.title}}</a></h2>

<ul class="messages-list">
    {% if messages %}
    {% for message in messages%}
        <li class="messages">
            {% if message.title %}
            <h4 class="messages-title">{{message.title}}</h4>
            {% else %}
            <h4 class="messages-title">-</h4>
            {% endif%}
            {{message.user}} >> {{message.created_at}} {{message.status}}
            <div class="msg">{{message.message}}</div>
        </li>
    {% endfor%}
    {% else %}
    <h4 class="messages-title">Сообщений в теме нет.</h4>
    {% endif%}

</ul>
</div>

<div class="container">
    <form method="post">
        {% csrf_token %}
        {{msg_form.as_p}}
        <button type="submit">Откомментировать</button>
    </form>
</div>  
{% endblock %}