{% extends "basic.html" %}
{% load static %}

{% block title %}
    {{topic.title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-basic.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-forum-list.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-forum.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-topic.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-add-message.css'%}">
<div class="container">

    <h2 class="title-theme"><a href="/topic/{{topic.id}}/">{{topic.title}}</a></h2>
    ОТВЕТИТЬ
</div>

<div class="container">
    <form method="post">
        {% csrf_token %}
        <p>
    <label for="id_title">Заголовок сообщения:</label>
    <input type="text" name="title" maxlength="100" id="id_title">


  </p>


  <p>
    <label for="id_message">Сообщение:</label>
    <textarea name="message" cols="40" rows="10" required id="id_message">
</textarea>




  </p>


        
        <button type="submit">Откомментировать</button>
    </form>
</div>  
{% endblock %}