{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Заголовок</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style-basic.css'%}">
		<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
	</head>


<body class="body">

	<header class="header">
		<div class="container header-container">
			<div class="header-title">
				ЧУЛАНЧИК НА <a href="www.shipmodeling.ru">ВЕРФИ</a>
			</div>
			<form method="POST" class="search-container">
					<input class="inputbox-search" name="keywords" id="keywords" type="search" title="Ключевые слова" value="" placeholder="Поиск…">
					<button class="header-button button-search" type="submit" title="Поиск"><img src="{% static 'img/search.svg'%}"></button>
					<button class="header-button button-extented-search" type="submit" title="Расширенный Поиск"><img src="{% static 'img/extended-search.svg'%}"></button>
			</form>
		</div>
	</header>

	<nav class="upper-nav">
		<div class="container upper-nav-container">
			<div class="place-for-logo"><img src="{% static 'img/logo.svg'%}" class="logo ship"></div>
			<ul class="nav-list">
					<li class="nav-item"><a href="/forums/" class="nav-link">ГЛАВНАЯ</a></li>
					<li class="nav-item"><a href="/forums/" class="nav-link">НОВОСТИ</a></li>
					<li class="nav-item"><a href="/forums/" class="nav-link">БАРАХОЛКА</a></li>
                			<li class="nav-item"><a href="{% url 'forums' %}" class="nav-link">ФОРУМЫ</a></li>
					<li class="nav-item"><a href="/admin/" class="nav-link">АДМИНКА</a></li>
			</ul>
			<ul class="login-list">
				{% if request.user.is_authenticated %}
				<li class="login-item"><a href="/logout/" class="login-link button"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp;Выйти</a></li>
				<li class="login-item"><a href="/settings/" class="login-link button">Настройки</a></li>
				{% else %}
				<li class="login-item"><a href="/login/" class="login-link button"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp;Войти</a></li>
				<li class="login-item"><a href="/profile/register" class="login-link button"><i class="fa fa-anchor fa-fw" aria-hidden="true"></i>&nbsp;Регистрация</a></li>
				{% endif %}
			</ul>

		</div>
	</nav>
	<nav class="middle-nav">
		<div class="small-container up-middle-nav-container">
			<div class="left-part-container">
				<ul class="middle-nav-list">
					<li class="middle-nav-item"><a href="/forums/" class="middle-nav-link brown-link bold-link"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Список форумов</a></li>
					{% if forum.name%}
					<li class="middle-nav-item middle-nav-link"><i class="fa fa-angle-left" aria-hidden="true"></i></li>
					<li class="middle-nav-item"><a href="/forum/{{forum.id}}/page/1/" class="middle-nav-link brown-link bold-link">{{forum.name}}</a></li>
					{% endif %}
					{% if topic.title%}
					<li class="middle-nav-item middle-nav-link"><i class="fa fa-angle-left" aria-hidden="true"></i></li>
					<li class="middle-nav-item"><a href="/topic/{{topic.id}}/page/1/" class="middle-nav-link brown-link bold-link">{{topic.title}}</a></li>
					{% endif %}
				</ul>
			</div>
			
			{% if request.user.is_authenticated %}
			<div class="right-part-container">
				<ul class="middle-nav-list">
					<li class="middle-nav-item"><a href="/notifications/" class="middle-nav-link brown-link"><i class="fa fa-bell fa-fw" aria-hidden="true"></i> Уведомления</a></li>
					<li class="middle-nav-item"><a href="/personal-messages/" class="middle-nav-link brown-link"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Личные сообщения</a></li>
					{% if request.user.app_user.avatar.url != '/upload/img/user.svg' %}`					
					<li class="middle-nav-item"><img class="user-avatar-small" src="{% static request.user.app_user.avatar.url %}"></li>
					{% else %}
					<li class="middle-nav-item user-avatar-default"><img class="user-avatar-default" src="{% static 'img/user.svg' %}"></li>
					{% endif %}		
					<li class="middle-nav-item"><a href="/user/{{request.user.app_user.id}}/" class="middle-nav-link brown-link">{{request.user.username}}</a></li>		
				</ul>
			</div>
			{% endif %}
		</div>










		<div class="small-container down-middle-nav-container">
			<ul class="down-middle-nav-list">
				<li class="down-middle-nav-item"> <a href="/topics-without-answer/" class="down-middle-nav-link brown-link">Темы без ответов</a></li>
				<li class="down-middle-nav-item"><a href="/active-topics/" class="down-middle-nav-link brown-link">Активные темы</a></li>
				{% if request.user.is_authenticated %}
				<li class="down-middle-nav-item"><a href="/user/{{request.user.app_user.id}}/messages/" class="down-middle-nav-link brown-link">Ваши сообщения</a></li>
				{% endif %}
			</ul>

		</div>
	</nav>
    {% block content %}
    {% endblock %}


<nav class="nav-above-footer">
		<div class="small-container nav-above-footer-container">
			<div class="left-part-container">
			<ul class="middle-nav-list">
				<li class="middle-nav-item"><a href="/forums/" class="middle-nav-link brown-link bold-link"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Список форумов</a></li>
			</ul>
			</div>
			<div class="right-part-container">
				<ul class="middle-nav-list">
				{% if request.user.is_authenticated %}
				<li class="middle-nav-item"><a href="/our-commands/" class="middle-nav-link brown-link"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> Наша комманда</a></li>
				<li class="middle-nav-item"><a href="/users/" class="middle-nav-link brown-link"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Пользователи</a></li>
				{% endif %}
				<li class="middle-nav-item"><a href="/forums/" class="middle-nav-link brown-link"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Удалить cookies</a>&nbsp;&nbsp;Часовой пояс: UTC+04:00</li>
			</ul>
			</div>
</nav>





	<footer class="footer">
		<div class="container footer-container">

			<div class="collumn-footer">
				<a href="/about-us/" class="footer-link">О нас</a>
				<br>
				<a href="/shipmodelling.ru/" class="footer-link">Верфь на Столе</a>
				<br>
				<a href="/articles-of-club/" class="footer-link">Устав клуба</a>
			</div>

			<div class="collumn-footer central-footer"> 
				<div class="central-footer-info">&#9742;&nbsp;+7(999)9999999</div>
				<div class="central-footer-info">&#x2709;&nbsp;&nbsp;&nbsp;емейл@mail.ru</div>
			</div>

			<div class="collumn-footer">
				<a class="footer-button" href="/claiming/">Подать заявку в клуб</a>

				<div class="social-nets">
					<a href="#" class="social-nets-link" id="vk"><img class="social-nets-img" src="{% static 'img/vk.svg'%}"></a>
					<a href="#" class="social-nets-link" id="odnoklas"><img class="social-nets-img" src="{% static 'img/odnoklas.svg'%}"></a>
					<a href="#" class="social-nets-link" id="inst"><img class="social-nets-img" src="{% static 'img/inst.svg'%}"></a>
				</div>
			</div>


		</div>
	</footer>
</body>
</html>