{% extends "basic.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-forums-list.css'%}">
<script src="{% static 'js/jquery-3.6.0.js'%}"></script>
<script src="{% static 'js/scripts-forums-list.js'%}"></script>

    <div class="logining-user-time small-container">
    {% if request.user.is_authenticated %}
        <div class="left-part-container time-container">
        Текущее время: {%now 'D j E Y H:i'%}
        </div>
        <div class="right-part-container time-container">
        Предыдущее посещение: {{request.user.app_user.last_activity|date:'D j E Y H:i'}}
        </div>
    {% else %}
        <div class="left-part-container time-container">
        </div>
        <div class="right-part-container time-container">
        Текущее время: {%now 'D j E Y H:i'%}
        </div>
    {% endif %}
    </div>
    {% if request.user.is_authenticated%}
    <div class="small-container time-container current-time-container">
        <a href="/make-all-forums-reading/" class="brown-link">Отметить форумы как прочтённые</a>
    </div>
    {% endif %}





<section class="forums">
    {% for category in categories %}
    <!-- Коричневая шапка -->
    {% if category.forums.all%}  <!-- Проверка не пустая ли категория -->
    <div class="small-container forums-container">
        <div class="forums-header">
            <div class="forums-header-category">{{category.name}}
            </div>
            <div class="forums-header-themes">Темы
            </div>
            <div class="forums-header-messages">Сообщения
            </div>
            <div class="forums-header-last-mgs">Последнее сообщение
            </div>
            <div class="forums-header-closed">
                <button class="close-category roll-button">&minus;</button>
            </div>
        </div>
        
        <!-- Списки форумов под шапкой -->
        <div class="forums-body forums-list">
            {% for forum in forums %}
            {% if forum.status != 'hiddened' and forum.category == category%}
            <ul class="forum-info">
                <li class="forum topic-icon">
                    <img src="{% static 'img/nonewmsg.png'%}">
                </li>
                <li class="forum forum-description">
                    <ul class="forum-description-list">
                        <li class="forum-description-item forum-name">
                            <a href="/forum/{{forum.id}}/page/1/" class="forum-name">{{forum.name}}</a>
                        </li>
                        <li class="forum-description-item forum-short-description">
                            {{forum.description}}
                        </li>
                        <li class="forum-description-item forum-moderators">
                            Модераторы:
                            {% for moderator in forum.moderators.all%}
                            {% if moderator.status == 'admin' %}
                            <a href="/user/{{moderator.id}}/" class="admin-link">{{moderator.username}}</a>
                            {% else %}
                            <a href="/user/{{moderator.id}}/" class="moderator-link">{{moderator.username}}</a>
                            {% endif %}
                            {% endfor %}
                            
                        </li>
                    </ul>
                </li>
                <li class="forum number-topics">{{forum.sum_topics}}
                </li>
                <li class="forum number-messages">{{forum.sum_msgs}}
                </li>
                <li class="forum last-message">
                    <ul class="last-message-list">
                        <li class="last-message-item last-message-topic">
                            <a href="/message/{{forum.last_message.id}}/">{{forum.last_message.title|default:'Re:...'}}</a>
                        </li>
                        <li class="last-message-item last-message-info">
                            {% if forum.last_message.user.status == 'admin' %}
                            <a href="/user/{{forum.last_message.user.id}}/" class="admin-link">{{forum.last_message.user.username}} </a>
                            {% elif forum.last_message.user.status == 'moderator' %}
                            <a href="/user/{{forum.last_message.user.id}}/" class="moderator-link">{{forum.last_message.user.username}} </a>
                            {% else %}
                            <a href="/user/{{forum.last_message.user.id}}/" class="user-link">{{forum.last_message.user.username}} </a>
                            {% endif %}
                            &raquo; {{forum.last_message.created_at}}
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            {% endfor %}  <!-- Цикла списка форумов -->
        </div>
    </div>
    {% endif %}   <!-- конец условия, что категория не пустая -->
    {% endfor %}  <!-- Цикла категорий -->
</section>

<!-- Блок подфорумной статистики и логина -->

<section class="info-under-forums">
<div class="small-container under-forums-container">
<ul class="under-forums-list">
    
    <li class="under-forums-item">
        <nav class="foot-login">
            {% if not request.user.is_authenticated %}
                <div class="under-forums-header">
                    <a href="/login/" class="login-link">ВХОД</a>
                    |
                    <a href="/profile/register" class="login-link">РЕГИСТРАЦИЯ</a>
                </div>
                <form method="post" action="/foot-login/" class="foot-login-form">
                    <ul class="foot-login-list">
                        <li class="foot-login-item">
                            Имя пользователя: <input type="text" name="username" class="input username-input">
                        </li>
                        <li class="foot-login-item">
                            Пароль: <input type="text" name="password" class="input password-input">
                        </li>
                        <li class="foot-login-item">
                            <a href="/forgot-password/">Забыли пароль?</a> | Запомнить меня
                        </li>
                        <li class="foot-login-item">
                            <input type="checkbox" name="member-me" class="member-checkbox">
                        </li>
                        <li class="foot-login-item">
                            <button type="submit" class="button"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp; Вход</button>
                        </li>
                    </ul>
                </form>
            {% endif %}

        </nav>
    </li>

    <li class="under-forums-item">
        <div class="statistic-line under-forums-header">КТО СЕЙЧАС НА ФОРУМАХ</div>
        <div class="statistic-line">В данный момент (5 минут): {{now_users}} посетителей: {{auth_users}} зарегистрированных, {{hidd_users}} скрытых и {{guests}} гостей</div>
        <div class="statistic-line">Больше всего посетителей ({{max_users}}) было в {{datetime_of_max_users|date:'D j E Y H:i'}}</div>
    </li>
    <li class="under-forums-item">
        <div class="statistic-line">
            {% if users%}
            Зарегистрированные пользователи:
                {% for user in users%}
                {% if user.user.status == 'admin'%}
                <a href="/user/{{user.user.id}}/" class="admin-link">{{user.user.username}}</a>
                {% else %}
                <a href="/user/{{user.user.id}}/" class="user-link">{{user.user.username}}</a>
                {% endif%}
                {% endfor %}
            {% endif%}
        </div>
        
    </li>
    <li class="under-forums-item">
        <div class="statistic-line under-forums-header">СТАТИСТИКА</div>
        <div class="statistic-line">Всего сообщений: {{total_messages}}. Всего тем: {{total_topics}}. Всего пользователей: {{total_users}}. Новый пользователь: {{new_user}}</div>
    </li>
    <li class="under-forums-item">
        <div class="statistic-line under-forums-header">ТОПЛИСТ - 5 БЛАГОДАРНОСТЕЙ</div>
        <div class="statistic-line">
            {% for name,id,acknowledgements in list_max_acknowledgements %}
            <a href="/user/{{id}}/" class="acknowledgements-link">{{name}}: {{acknowledgements}}</a>
            {% endfor %}
        </div>
    </li>

</ul>
</div>
</section>



{% endblock %}