{% extends "basic.html" %}
{% load static %}

{% block title %}
    {{topic.title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-forum.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-topic.css'%}">


<nav class="nav-above-topics">
    <div class="small-container nav-above-topics-container">
        <h2 class="nav-above-forum-title">{{topic.title}}</h2>
        <div class="list-moderators"><strong>Модераторы:</strong>
                            {% for moderator in topic.forum.moderators.all %}
                            {% if moderator.status == 'admin' %}
                            <a class="admin-link" href="/user/{{moderator.id}}/">{{moderator.username}}</a>
                            {% else %}
                            <a class="moderator-link" href="/user/{{moderator.id}}/">{{moderator.username}}</a>
                            {% endif %}
                            {% endfor %}
        </div>


        <div class="nav-above-topics-forms">
            <div class="left-part-container">
                <a class="button-new-theme" href="/topic/{{topic.id}}/add-message/" title="Ответить">Ответить</a>
                <a class="simple-button header-button button-search" href="/topic/{{topic.id}}/settings/" title="Управление темой"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i></a>
                <form method="POST" class="search-container">
                    <input class="inputbox-search" name="keywords-topic" id="keywords-topic" type="search" title="Ключевые слова" value="" placeholder="Поиск в теме…">
                    <button class="header-button button-search" type="submit" title="Поиск"><img src="{% static 'img/search.svg'%}"></button>
                    <button class="header-button button-extented-search" type="submit" title="Расширенный Поиск"><img src="{% static 'img/extended-search.svg'%}"></button>
                </form>
            </div>


            <div class="right-part-container">
                <div class="forum-topics">{{sum_msg_on_topic}} сообщен{{sum_ending}}&nbsp;</div>
                {% if pages%}
                    {% if sum_pages > 7 %}  <!--Если страниц больше 7, то появляется иконка перехода на номер страницы -->
                    <div class="goto-page"><a class="goto-page-link" href="/popup-goto-page/">&#8629;</a></div>
                    {% endif%}

                    {% if current_page > 1 %}
                    <a class="page-link page-arrow-left" href="/topic/{{topic.id}}/page/{{current_page|add:-1}}/">&lt;</a>
                    {% endif %}

                        {% for page, number_page in pages %}
                        {% if page == '...' %}
                        ... 
                        {% else %}
                            {% if number_page == current_page %}
                            <a class="current-page-link" href="/topic/{{topic.id}}/page/{{number_page}}/">{{page}}</a>
                            {% else %}
                            <a class="page-link" href="/topic/{{topic.id}}/page/{{number_page}}/">{{page}}</a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                    {% if current_page < sum_pages %}
                    <a class="page-link page-arrow-right" href="/topic/{{topic.id}}/page/{{current_page|add:1}}/">&gt;</a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</nav>



<section class="topic">
    <div class="small-container topic-container">
        <ul class="topic-body msgs-list">
            {% for msg in messages %}
            <li class="msg-item">
                <div class="user-info">
                    <div class="user-avatar">
                        {% if msg.user.avatar.url != '/upload/img/user.svg' %}
                        <img class="user-avatar-big" src="{% static msg.user.avatar.url %}">
                        {% else %}
                        <img class="user-avatar-big" src="{% static 'img/user.svg' %}">
                        {% endif %}
                    </div>
                    <ul class="user-info-list">
                        <li class="user-info-item">
                            {% if msg.user.status == 'admin' %}
                            <a class="admin-link" href="/user/{{msg.user.id}}/">{{msg.user.username}}</a>
                            {% else %}
                            <a class="user-link brown-link" href="/user/{{msg.user.id}}/">{{msg.user.username}}</a>
                            {% endif %}
                        </li>
                        <li class="user-info-item">
                            Сообщений: {{msg.user.msgs}}
                        </li>
                        <li class="user-info-item">
                            Зарегистрирован: {{msg.user.created_at}}
                        </li>
                        <li class="user-info-item">
                            Откуда: {{msg.user.region}}
                        </li>
                        <li class="user-info-item">
                            Благодарил(а): {{msg.user.thanks}} раз{{msg.thanks_ending}}
                        </li>
                        <li class="user-info-item">
                            Поблагодарили: {{msg.user.acknowledgements}} раз{{msg.acknowledgements_ending}}
                        </li>
                    </ul>
                </div>
                <div class="msg-context">
                <ul class="msg-context-list">
                    <li class="msg-context-item">
                        {{msg.title}}
                    </li>
                    <li class="msg-context-item">
                        {{msg.number_in_topic}} <img src="{% static 'img/page-icon.png'%}"> {{msg.user.username}} &raquo; {{msg.created_at}} &raquo; {{msg.updated_at}} 
                    </li>
                        {{msg.message}}
                    <li class="msg-context-item">
                    </li>
                    <li class="msg-context-item">
                        {{msg.attachments}}
                    </li>
                    <li class="msg-context-item user-visa">
                        {{msg.user.visa}}
                    </li>
                    <li class="msg-context-item">
                                                       {% if msg.status == 'editable' %}
                                                        <a href="/edit-message/{{msg.id}}/">{{msg.status}}</a>
                                                        {% else %}
                                                        {{msg.status}}
                                                        {% endif %}
                                                        <a href="/delete-message/{{msg.id}}/">Удалить сообщение</a>

                                                        {% if request.user.is_authenticated and request.user.app_user != msg.user and not request.user.app_user in msg.thankers.all%}
                                                        <form>
                                                        {% csrf_token %}
                                                            <button formmethod="post" formaction="/thank-message/{{msg.id}}/" type="submit">Поблагодарить</button>
                                                        </form>
                                                        {% endif %}

                                                        {% if request.user.is_authenticated and request.user.app_user != msg.user and request.user.app_user in msg.thankers.all%}
                                                        <form>
                                                        {% csrf_token %}
                                                            <button formmethod="post" formaction="/undo-thank-message/{{msg.id}}/" type="submit">Отозвать благодарность</button>
                                                        </form>
                                                        {% endif %}
                    </li>
                </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>      
</section>

<nav class="nav-above-topics">
    <div class="small-container nav-above-topics-container">
        <div class="nav-above-topics-forms">
            <div class="left-part-container">
                <a class="button-new-theme" href="/topic/{{topic.id}}/add-message/" title="Ответить">Ответить</a>
                <a class="simple-button header-button button-search" href="/topic/{{topic.id}}/settings/" title="Управление темой"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i></a>
            </div>
            <div class="right-part-container">
                <div class="forum-topics">{{sum_msg_on_topic}} сообщен{{sum_ending}}&nbsp;</div>
                {% if pages%}
                    {% if sum_pages > 7 %}  <!--Если страниц больше 7, то появляется иконка перехода на номер страницы -->
                    <div class="goto-page"><a class="goto-page-link" href="/popup-goto-page/">&#8629;</a></div>
                    {% endif%}

                    {% if current_page > 1 %}
                    <a class="page-link page-arrow-left" href="/topic/{{topic.id}}/page/{{current_page|add:-1}}/">&lt;</a>
                    {% endif %}

                        {% for page, number_page in pages %}
                        {% if page == '...' %}
                        ... 
                        {% else %}
                            {% if number_page == current_page %}
                            <a class="current-page-link" href="/topic/{{topic.id}}/page/{{number_page}}/">{{page}}</a>
                            {% else %}
                            <a class="page-link" href="/topic/{{topic.id}}/page/{{number_page}}/">{{page}}</a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                    {% if current_page < sum_pages %}
                    <a class="page-link page-arrow-right" href="/topic/{{topic.id}}/page/{{current_page|add:1}}/">&gt;</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="nav-above-topics-forms">
            <div class="left-part-container">
            </div>
            <div class="right-part-container">
            </div>
        </div>
    </div>
</nav>


{% endblock %}
