/* меню над сообщениями */

.nav-above-forum-title {
    text-align: center;
    margin: 0;
}

.simple-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-link {
    width: 15px;
}

/* Список сообщений*/

.topic-container {
    border: none;
    padding: 0px;
}

/* Строка сообщения */
/* Инфа о пользователе*/

.user-info{
    width: 20%;
    border-right: 1px solid #663333;
    font-size: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.user-avatar-big{
    width: 25%;
    height: 25%;
    padding-top: 1++0px;
}

.user-info-item a{
    font-weight: bold;
}

.user-info-item:first-child{
    padding-top: 5px;
    padding-bottom: 10px;
}

.user-info-item:not(:first-child){
    padding-bottom: 1px;
}

.user-info-item:last-child{
    padding-bottom: 10px;
}

/* Само тело сообщения*/

.msg-item{
    display: flex;
    border: 1px solid #663333;
    margin-bottom: 5px;
}

.msg-context{
    width: 80%;
}

.msg-context-list{
    padding-left: 35px;
}

.msg-context-item{
    font-size: 11px;
    padding-bottom: 10px;
}

.msg-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg-context-header{
    font-size: 12px;
    font-weight: bold;
}

.msg-context-info{
    font-size: 10px;
}

.msg-context-visa{
    border-top: 1px solid #d1d1d1;
}

.msg-context-updated{
    text-align: right;
}

