* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #663333;
}

.brown-link:hover {
	color: #CC3333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


html {
	font-family: Verdana;
}

.container {
	max-width: 98%;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.small-container {
	max-width: 96%;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	padding-left: 20px;
	border: 2px solid #663333;
}

body {
	background-color: #FAEAC6;
}

.input {
	outline: none;
}

.user-link{
    color: #663333;
}

.moderator-link{
    color: #663333;
}

.admin-link{
    color: #CC3333;
}

.bold{
	font-weight: bold;
}

.light-grey{
	color: #999999;
}

/* Header */


.header {
	height: 75px;
}

.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid #4787a7;
	border-radius: 5px;
	background-color: #663333;
	margin-top: 10px;
	color: #FAEAC6;
}

.header-title a {color: #FAEAC6;}


.inputbox-search {
	max-length: 128;
	size: 20;
	height: 25px;
	border: none;
	border: 1px solid white;
	border-radius: 5px;
	outline: none;

}
.search-container {
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	height: 25px;
}

.header-button {
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}


/* Верхняя панель навигации */

.upper-nav-container {
	margin-top: 10px;
	background-image:url('../img/nav-background.png');
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

/* Логотип */

.place-for-logo {
	height: 100%;
	width: 50px;
}

.ship {
	height: 30px;
	left: 20px;
	animation: move 60s;
	transition-property: height;
	transition-duration: 1000ms;
	transition-timing-function: linear;
}

.ship:hover {
	height: 50px;
}


@keyframes move {
  from {position: relative; left:1000px;}
  to {left: 20px;}
}

/* центральное меню */

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item:not(:last-child){
	margin-right: 30px;
}

.nav-link {
	color: #663333;
	font-size: 12px;
	font-weight: bold;
}


/* логиновая часть */

.login-list {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.login-item {
	border-radius: 15px;
	font-size: 12px;
	font-weight: bold;
}

.button {
	padding: 5px 15px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background-color: #663333;
	color: #FAEAC6;
}

.button:hover{
	color: #CC3333;
}

.login-item:first-child{
	margin-right: 10px;
}

/* Надфорумное меню*/

.up-middle-nav-container{
	border: none;
	padding-top: 10px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

.middle-nav-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #663333;
	font-size: 11px;
}

.bold-link{
	font-weight: bold;
}

.middle-nav-item:not(:last-child){
	margin-right: 5px;
	margin-left: 5px;
}
.middle-nav-item:first-child{
	margin-left: 5px;
}

.middle-nav-item:last-child{
	margin-right: 5px;
}

.down-middle-nav-container{
	border: none;
	padding-top: 10px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #663333;
}

.down-middle-nav-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.down-middle-nav-item:not(:last-child){
	margin-right: 15px;
}

.down-middle-nav-link {
	color: #663333;
	font-size: 10px;
}

.user-avatar-small{
	width: 20px;
	height: 20px;
}

.user-avatar-default{
	width: 15px;
	height: 15px;
}

.left-part-container{
	display: flex;
	align-items: center;
}

.right-part-container{
	display: flex;
	align-items: center;
}

/* Строка навигации прямо над футером */

.nav-above-footer-container{
	border: none;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-left: 5px;
	display: flex;
	justify-content: space-between;
}

/* Footer */

.footer-container{
	background-color: #663333;
	color: #FAEAC6;
	border: 1px solid #663333;
	display: flex;
	margin-top: 3px;
	justify-content: space-around;
	align-items: center;
}

.footer-link{
	color: #FAEAC6;
	font-size: 12px;
}

.central-footer{
	font-size: 13px;
	margin: 10px;
}

.collumn-footer{
	display: flex;
	flex-direction: column;
}

.central-footer-info{
	margin: 10px;
}

.footer-button{
	color: #FAEAC6;
	background-color: #663333;
	border: 1px solid #113333;
	border-radius: 5px;
	padding: 5px 25px;
	margin: 10px 0;
	cursor: pointer;
}

.footer-button:hover{
	color: #663333;
	background-color: #FAEAC6;
	border: 1px solid #FAEAC6;
	border-radius: 5px;
	padding: 5px 25px;
	margin: 10px 0;
}

.social-nets{
	margin: 10px;
	display: flex;
	justify-content: center;
}

.social-nets-img{
	width: 25px;
	height: 25px;
	color: #FAEAC6;
	margin: 0 5px;
}






