/* Форумы*/

.current-time-container {
	text-align: right;
	border: none;
	padding: 3px 0;
	font-size: 11px;
}

.login-current-time-container {
	text-align: left;
	border: none;
	padding: 3px 0;
	font-size: 11px;
}

.last-enter-time-container {
	text-align: right;
	border: none;
	padding: 3px 0;
	font-size: 11px;
}

.logining-user-time{
	display:  flex;
	justify-content: space-between;
	border: none;
	padding: 0;
}

/* Заголовок категории*/
.forums-container {
	padding: 0;
	border-collapse: collapse;
	margin-bottom: 4px;
}
.forums-header{
	display: flex;
	background-color: #663333;
	border: 1px solid #663333;
	border-collapse: collapse;
	color: #FAEAC6;
	padding: 6px 0;
	font-size: 11px;
	font-weight: bold;
	margin: -2px -2px;
	text-align: center;
}
.forums-header-category{
	width: 63%;
}
.forums-header-themes{
	width: 8%;
}
.forums-header-messages{
	width: 8%;
}
.forums-header-last-mgs{
	width: 18%;
}
.forums-header-closed{
	width: 3%;
	font-size: 16px;
	line-height: 1;
}

/* Блок форумов категории */

.forum-info{
	display: flex;
	align-items: center;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.forum-info:not(:last-child){
	border-bottom: 1px solid white;
}

.forum:not(:first-child, :last-child){
	border-right: 1px solid white;
}

.topic-icon{
	text-align: center;
	width: 3%;
}
.forum-description{
	margin-top: 3px;
	width: 60%;
}

.forum-name {
	color: #CC3333;
	margin-bottom: 3px;
}

.forum-short-description {
	color: #996600;
	margin-bottom: 3px;
}

.forum-moderators {
	color: black;
	margin-bottom: 3px;
}

.moderator-link{
    color: #663333;
    font-weight: normal;
    font-size: 11px;
}

.admin-link{
    color: red;
}


.number-topics{
	width: 8%;
	text-align: center;
	font-size: 13px;
}

.number-messages{
	width: 8%;
	text-align: center;
	font-size: 13px;
}

.last-message{
	width: 21%;
	color: #663333;
	padding-right: 5px;

}

.last-message-topic {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* обрезает невлазящий текст*/
}


/* Блок подфорумной статистики */

.under-forums-container{
	border: none;
	padding-left: 10px;
	font-size: 11px;
}

.under-forums-header {
	margin-bottom: 5px;
	color: #663333;
	font-size: 13px;
	font-weight: bold;
}

.under-forums-item{
	margin-top: 20px;
}

.foot-login-list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.foot-login-item:not(:last-child){
	margin-right: 5px;
	color: #663333;
}

.foot-login-link{
	display: inline-block;
	text-align: center;
}

.member-checkbox {
	margin-top: 4px;
}

.statistic-line{
	margin-top: 5px;
}

.acknowledgements-link{
    margin-right: 7px;
}